body {
    font-family: 'Nanum Gothic', sans-serif;
}

#content {
    position: relative;
    top: 50px;
}

.button:visited {
    color: inherit;
}

#navbar {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    opacity: 0.9;
}

#navbar-item {
    opacity: 1;
}

a {
    text-decoration: none;
}

#pull-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

#pull-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#navbar-item {
    display: flex;
    margin: 20px;
}

#navbar-item:hover {
    color: #D0D0D0;
}

#header {
    display: flex;
    justify-content: center;
    color: #596475;
    border-style: solid;
    border-color: #596475;
}

#topics-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 5%;
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
}

.box:hover {
    cursor: pointer;
    color: red;
}

#topic-content {
    margin: 10%;
    height: 80%;
    width: 80%;
}
