/* Global style */
body {
    font-family: 'Nanum Gothic', sans-serif;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 60px;
}

#footer {
    height: 60px;
}

p {
    hyphens: manual;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    line-height: 40px;
}

h2 {
    color: #ABABAB;
}

.button {
    margin: 15px;
    height: 75px;
    width: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 2.5px 5px #ABABAB;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: none;
    transform: translate(2.5px, 5px);
}

.nav-button {
    color: white;
}

.nav-button:visited {
    color: inherit;
}

#navbar {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    opacity: 0.9;
}

#navbar-item {
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

#pull-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

#pull-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#navbar-item {
    display: flex;
    margin: 20px;
}

.nav-button:hover {
    color: #ABABAB;
}

/* About page. */

#me-wrapper {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: auto;
}

#me {
    height: 200px;
    width: 200px;
}

#about-me {
    width: 60%;
}

p {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    line-height: 40px;
}

/* Topics page. */

#header {
    display: flex;
    justify-content: center;
    color: #596475;
    border-style: solid;
    border-color: #596475;
}

#topics-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
}

.null-box {
    background-color:black;
    width: 200px;
    height: 200px;
}

#topic-content {
    display: flex;
    align-items: center;
    justify-items: center;

    margin: 10%;
    /* height: 80%; */
    /* width: 80%; */
}

/* Topic page style */

#sidebar {
    display: flex:
    flex-direction: column;
    position: fixed;
    color: black;
    z-index: 100;
    top: 120px;
    width: 120px;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.sidebar-item {
    margin: 15px;
    font-size: 20px;
}

.sidebar-item:hover {
    cursor: pointer;
}

#read-time {
    color: #ABABAB;
}

#lesson {
    width: 60%;
}

pre {
    font-size: 25px;
}

code {
    font-size: 25px;
}
